* {margin: 0;}
a {color:rgb(255, 250, 240); text-decoration: none;}
li {list-style: none; color: white;}
body {font-family: 'Roboto', sans-serif;}
img {width: 100%;}

.container {
    margin: 0 auto;
    max-width: 1100px;
}

.header {background-color: rgb(53, 53, 53);}

.header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.header__item {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
}

.header__item a:hover {
    color: rgb(224, 176, 81); 
    font-weight: 500;
}

.header__item--size {font-size: 30px;}

.cart {
    position: relative;
}

.cart-box {
    display: none;
    position: absolute;
    top: 54px;
    right: 0;
    z-index: 10;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(155, 155, 155);
    border-radius: 4px;
    width: 400px;
    padding: 10px;
}

.cart-list {
    text-transform: capitalize;
    color:rgb(114, 114, 114); 
    font-size: 14px;
    line-height: 24px;
    width: 100%;
}
.cart-list a {
    color:rgb(114, 114, 114); 
    font-size: 14px;
    line-height: 24px;
}

.active {
    display: block;
}

.main {
    padding: 10px 0px;
}

.goods-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.goods-item {
    flex: 0 0 22%;
    min-width: 240px;
    height: 350px;
    border: 1px solid rgb(216, 207, 191);
    border-radius: 4px;
    background-color: rgb(255, 250, 240);
    margin: 10px 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.goods-item:hover {box-shadow: 0px 0px 15px #bebab1;}

.add-button {
    font-weight: 400; 
    color: gray;
}

.add-button:hover {
    color: rgb(98, 98, 98); 
    font-weight: 500;
}